html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}
.container {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

li {
  position: relative;
}

li:before {
  content: "";
  display: none;
  position: absolute;
  inline-size: 1rem;
  block-size: 1rem;
  background-color: black;
  inset-inline-start: 35%;
  inset-block-start: -1.6rem;
  transform: translate(-50%, 50%);
  transform: rotate(45deg);
}

li::after {
  display: none;
  text-wrap: nowrap;
  content: "";
  position: absolute;
  max-inline-size: 48rem;
  block-size: 2.5rem;
  border-radius: .5rem;
  padding-inline: 1rem;
  padding-block: .25rem;
  color: white;
  background-color: black;
  inset-inline-start: 50%;
  inset-block-start: -4rem;
  transform: translate(-50%);
}

li#home::after {
  content: "Home";
}

li#projects::after {
  content: "Here is everthing I have built";
}

li#blog::after {
  content: "This is my personal blog";
}

li:hover::after,
li:hover::before {
  display: block;
}