html {
  box-sizing: border-box;
  font-family: "Roboto";
}

.wrapper {
  margin: 0 auto;
  max-inline-size: 75dvw;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.container-1 {
  flex-grow: 1;
  inline-size: 45%;
}

.container-1 .container-testimonial {
  padding: 1rem;
  background-color: rgb(37, 36, 36);
  color: white;
  border-radius: 1rem;
  line-height: 1.5;
  position: relative;
}

.container-1 .container-testimonial::before {
  content: "";
  display: block;
  position: absolute;
  inset-block-end: -.5rem;
  inset-inline-start: 1.75rem;
  transform: rotate(45deg);
  inline-size: 1rem;
  block-size: 1rem;
  background-color: rgb(37, 36, 36);
}

.container-1 .container-profile, .container-2 .container-profile {
  margin-block-start: 1rem;
  display: flex;
  padding-inline: .5rem;
  gap: 0.5rem;
  align-items: center;
  padding-block-end: .5rem;
}

.container-1 img, .container-2  img {
  border-radius: 100%;
  inline-size: 3.75rem;
  block-size: 3.75rem;
}

.container-profile-text p {
  font-size: .75rem;
  margin: 0.25rem 0;
}

.container-profile-text p:first-of-type {
  font-size: unset;
  font-weight: bold;
}


.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  inline-size: 45%;
  border: 1px solid rgb(37, 36, 36);
  border-radius: 1rem;
}

.container-2 .container-testimonial {
  padding-inline: 1rem;
  line-height: 1.5;
}

